.link {
  color: aliceblue;
  text-decoration: none;
  width: max-content;
}
.underline {
  opacity: 0;
  width: 0;
  transition: all 350ms ease-in-out;
  margin: 2px 0 0 0;
  align-self: center;
  color: #e8db00;
}
.link:hover + .underline {
  opacity: 1;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 2em;
}
